html, body {
    height: 100%;
  }
  
  .full-height {
    height: 100%;
  }

  .sidebar {
    background-color:#4A144B;
    color: azure;
    padding: 10px !important;
  }

  .my-highlight {
    background-color: #1264A3;
  }